/* body{
    margin: 0;
    padding: 0;
}

body input[type=email], input[type=password], input[type=name]{
    width: 50%;
    align-items: center;
    border-radius: 5px;
}
body input[type=name]{
    margin-top: 50px;
}
form {
    height: 200px;
    background-color: black;
    border-radius: 10px;

} */