body{
    margin: 0;
    padding: 0;
}

body input[type=last-password], input[type=new-password], input[type=confirm-new-password]{
    width: 50%;
    align-items: center;
    border-radius: 5px;
}
body input[type=last-password]{
    margin-top: 50px;
}
form {
    height: 200px;
    background-color: black;
    border-radius: 10px;

}